In [1]:
#Important python libraries we will use in this  project

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
#Inserting the excel sheet that contains the data

df = pd.read_excel(r'C:\Users\mdnaw\Desktop\Noon Project\Student Data.xlsx')
df.head() #This shows the first 4 rows of the data so we can visualize the data before analyzing it.

,student_id,session_id,group_id,student_arrival_time,student_exit_time,session_start_time,session_end_time
0,3529788,1252139,6250,2019-12-28 17:20:00.0,2019-12-28 17:20:55.0,2019-12-28 16:41:55.0,2019-12-28 17:23:12.0
1,3772226,1252139,6250,2019-12-28 17:20:01.0,2019-12-28 17:20:13.0,2019-12-28 16:41:55.0,2019-12-28 17:23:12.0
2,3711125,1252139,6250,2019-12-28 17:20:01.0,2019-12-28 17:21:32.0,2019-12-28 16:41:55.0,2019-12-28 17:23:12.0
3,3857804,1252139,6250,2019-12-28 17:20:10.0,2019-12-28 17:23:13.0,2019-12-28 16:41:55.0,2019-12-28 17:23:12.0
4,3962216,1252139,6250,2019-12-28 17:20:12.0,2019-12-28 17:20:41.0,2019-12-28 16:41:55.0,2019-12-28 17:23:12.0

In [31]:
#From the excel sheet we call the needed columns and give them easier labels.

session_id = df['session_id']
start_session = df['session_start_time']
end_session = df['session_end_time']
arrival = df['student_arrival_time']
exit = df['student_exit_time']
group = df['group_id']
ID = df['student_id']

In [32]:
#Finding the total number of students by extracting student ID numbers from the data and excluding duplicates.

ids = []
for i in ID:
    if i not in ids:
        ids.append(i)
print(len(ids))

11261

In [34]:
#Finding the total number of groups by extracting group ID numbers and avoiding duplicates.

groups = []
for i in group:
    if i not in groups:
        groups.append(i)
print('Group ID',groups)

Group ID [6250, 1341, 4858, 1329, 1351, 1442, 7339, 7369, 5475]

In [37]:
#counting the number of students in each group by using the for and the if loop.

print ('Number of students in each group')
#1st Group
group_count1= []
for i in range(0,len(group)):
    if group[i]== 6250:
        group_count1.append(i)
print (len(group_count1))

#2nd Group
group_count2= []
for i in range(0,len(group)):
    if group[i]== 1341:
        group_count2.append(i)
print (len(group_count2))

#3rd Group
group_count3= []
for i in range(0,len(group)):
    if group[i]== 4858:
        group_count3.append(i)
print (len(group_count3))

#4th Group
group_count4= []
for i in range(0,len(group)):
    if group[i]== 1329:
        group_count4.append(i)
print (len(group_count4))

#5th Group
group_count5= []
for i in range(0,len(group)):
    if group[i]== 1351:
        group_count5.append(i)
print (len(group_count5))

#6th Group
group_count6= []
for i in range(0,len(group)):
    if group[i]== 1442:
        group_count6.append(i)
print (len(group_count6))

#7th Group
group_count7= []
for i in range(0,len(group)):
    if group[i]== 7339:
        group_count7.append(i)
print (len(group_count7))

#8th Group
group_count8= []
for i in range(0,len(group)):
    if group[i]== 7369:
        group_count8.append(i)
print (len(group_count8))

#9th Group
group_count9= []
for i in range(0,len(group)):
    if group[i]== 5475:
        group_count9.append(i)
print (len(group_count9))

Number of students in each group
5233
3999
1670
1230
4160
3154
1958
973
701

In [43]:
#Extracting the months from the data by excluding 5 digits from the left hand side and 14 digits from the right 
#"Look at the data visualization above".

months = []
for i in start_session:
    months.append(i[5:-14])

In [45]:
#counting the number of students for the month of december and exclude the other months "we will target one month at a time".

dec_time= []
for i in range(0,len(months)):
    if months[i]== '12':
        dec_time.append(i)

In [46]:
#Finding the number of students for the month of December.

dc_id = [ID[i] for i in dec_time]
print('Student count',len(dc_id))

dec_ids = []
for i in dc_id:
    if i not in dec_ids:
        dec_ids.append(i)
print('Student count without duplicates',len(dec_ids))

Student count 12269
Student count without duplicates 5995

In [47]:
#extracting the groups for the month of December.
    
group1 = []
for i in group:
    group1.append(i)
    
group11 = [group1[i] for i in dec_time]
len(group11)

12269

In [48]:

#start_session.

#this for loop will only extract the hour which the session starts.
start_hours = []
for i in start_session:
    start_hours.append(i[10:-8])
    
starth = [start_hours[i] for i in dec_time]

#this for loop will extract the minutes which the session starts.
    
start_minutes = []
for i in start_session:
    start_minutes.append(i[14:-5])
    
    
startm = [start_minutes[i] for i in dec_time]


#end_session.
#this for loop will extract the hours which the session ends.
    
end_hours = []
for i in end_session:
    end_hours.append(i[10:-8])
    
endh = [end_hours[i] for i in dec_time]

#this for loop will extract the minutes which the session ends.

end_minutes = []
for i in end_session:
    end_minutes.append(i[14:-5])
    
    
endm = [end_minutes[i] for i in dec_time]

#student arrival by the hour.
arrival_hours = []
for i in arrival:
    arrival_hours.append(i[10:-8])

arriveh = [arrival_hours[i] for i in dec_time]

#student arrival by the minute.

arrival_minutes = []
for i in arrival:
    arrival_minutes.append(i[14:-5])
    
arrivem = [arrival_minutes[i] for i in dec_time]

#Student exit_hours.

exit_hours = []
for i in exit:
    exit_hours.append(i[10:-8])

exith = [exit_hours[i] for i in dec_time]

#Student exit by the minute.
    
exit_minutes = []
for i in exit:
    exit_minutes.append(i[14:-5])
    
exitm = [exit_minutes[i] for i in dec_time]

In [50]:
# this will convert string into a numeric so we can apply mathematical formulas to the cleaned up data
sstartm2 = pd.to_numeric(startm)
sstarth2 = pd.to_numeric(starth)

sendm2 =pd.to_numeric(endm)
sendh2 = pd.to_numeric(endh)

arrivm2 = pd.to_numeric(arrivem)
arrivh2 = pd.to_numeric(arriveh)

exitm2 = pd.to_numeric(exitm)
exith2 = pd.to_numeric(exith)


ses_time = sendh2*60+(sendm2) - sstarth2*60+(sstartm2)

stud_attend_time = exith2*60+(exitm2) - arrivh2*60+(arrivm2)
print ('Time spent in each class',stud_attend_time)

Time spent in each class [40 40 41 ... 34 34 41]

In [51]:
#Ceating new columns for the moth of December containing the needed group performances based on student attendance for each 
#class'group11'.

data_saved = pd.DataFrame({'Group':group11, 'session total time minutes': ses_time,
                           'Time spent in each class minutes':stud_attend_time})

decdata = pd.ExcelWriter("clean data.xlsx", engine='xlsxwriter')

data_saved.to_excel(decdata, sheet_name='sheet1')

In [52]:
#saving the cleaned up data into a new excel sheet.

decdata.save()